/* 배달의 민족 폰트 선언 */
/* @font-face {
    font-family: 'BMJUA';
    src: url('../fonts/BMJUA_ttf.ttf') format('truetype');
} */

/* 기본 폰트 설정 */
body {
    font-family: 'Roboto', sans-serif;
}

/* 선택된 이미지에 스타일 추가 */
input[type="radio"]:checked + label img {
    border: 3px solid #007bff; /* Bootstrap 기본 색상 */
}

/* 기본 이미지 스타일 */
.img-thumbnail {
    max-width: 100px; /* 이미지 크기 조정 */
    max-height : 240px;
    cursor: pointer;
}

/* 이름 스타일 */
.form-check-label div {
    margin-top: 8px;
    font-weight: bold;
}