{% extends "base.html" %}

{% block title %}Home - vFit{% endblock %}

{% block content %}
<h1 class="mt-4">체형 선택</h1>
<div class="body-shapes position-relative d-inline-block">
    <img src="{{ url_for('static', filename='images/personalForm.png') }}" alt="Body Shapes" class="personalFormExample img-fluid">
    <div class="checkbox-group position-absolute w-100 h-100 d-flex justify-content-between align-items-end px-2">
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="모래시계형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="트렁크로시계형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="삼각형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="역삼각형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="다이아몬드형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="직사각형">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container position-relative w-12 h-100">
            <input type="checkbox" name="body_shape" value="원형">
            <span class="checkmark"></span>
        </label>
    </div>
</div>
{% endblock %}
