{% extends "base.html" %}

{% block title %}
Virtual Fitting - vFit
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="mb-4">Virtual Fitting</h1>

    <!-- 아바타 미리보기 큰 빈 칸 -->
    <div id="avatar-preview" class="mb-4">
        <p>Virtual Fitting Here - Avatar</p>
    </div>
    <div id="avatar-clothes-preview" class="mb-4">
        <p>Virtual Fitting Here - Clothes</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/socket.js') }}"></script>
<script src="{{ url_for('static', filename='js/Virtual_fitting.js') }}"></script>
{% endblock %}
